.card-list{
	border-style: solid;
	width: calc(100%/3);
}

#cards{
	margin-left: 25px;
	margin-right: 25px;
	border-style: solid;
	color: blue;
	display: flex;
}

#suspects{
	color: red;
}

#weapons{
	color: green;
}

#rooms{
	color: black;
}